/* Footer.css */
.footer {
  background-color: #eff1f1#baa73f; /* Dark background color */
  color: #fff; /* White text */
  padding: 20px 0; /* Padding for the footer */
  position: relative; /* Optional: Change to fixed if you want it at the bottom */
  bottom: 0; /* Align to the bottom */
  width: 100%; /* Full width */
}

.footer-link {
  color: #0a0a0b; /* Link color */
  text-decoration: none; /* Remove underline */
}

.footer-link:hover {
  text-decoration: underline; /* Underline on hover */
}
